MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=hh_goa_2026

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PUBLIC_BASE_URL=http://127.0.0.1:8000

MAX_UPLOAD_SIZE_MB=15
IMAGE_RETENTION_DAYS=30
