MONGODB_URI=mongodb+srv://ironman2k403000_db_user:rajat123@hhgoatask01.zjvlpes.mongodb.net/hh_goa_2026?appName=HHGOATASK01
MONGODB_DATABASE=hh_goa_2026

CORS_ORIGINS=https://hhgoa-task01.vercel.app
PUBLIC_BASE_URL=https://hhgoa-task01.onrender.com

MAX_UPLOAD_SIZE_MB=15
IMAGE_RETENTION_DAYS=30
